.status-bar{
    display: flex;
    justify-content: space-between;
}

.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header span:nth-child(1){
    font-size: 30px;
    margin: 50px 0px 20px 0px;
}

.header span:nth-child(2){
    color: rgb(0, 0, 0, 0.5);
    margin-bottom: 50px;
}

.input{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.input input{
    width: 90%;
    height: 20px;
    margin-top: 20px;
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
    border-color: rgb(0, 0, 0, 0.3);
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 30px;
}

.button input{
    width: 90%;
    height: 40px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;

}