body{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

input{
    margin-top: 40px;
    width: 100px;
    height: 40px;
    border-radius: 10px;
    font-weight: 600;
    background-color: white;
}

div{
    display: flex;
    flex-direction: column;
    align-items: center;
}